In [22]:
import pandas as pd
import numpy as np
import requests
import asyncio
import aiohttp
import os
from dotenv import load_dotenv

In [7]:
load_dotenv()

True

In [9]:
API_KEY = os.getenv("API_KEY")

In [10]:
API_KEY

'e9043dc6796e3ce6b7607e6d087f66af'

In [26]:
# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=15):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

In [13]:
def get_current_weather_for_city(city: str, API_KEY: str):
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        return (city, data)
    else:
        return None

In [20]:
get_current_weather_for_city("Moscow", API_KEY)

('Moscow',
 {'coord': {'lon': 37.6156, 'lat': 55.7522},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 0.85,
   'feels_like': -2.58,
   'temp_min': 0.29,
   'temp_max': 1.32,
   'pressure': 1029,
   'humidity': 63,
   'sea_level': 1029,
   'grnd_level': 1008},
  'visibility': 10000,
  'wind': {'speed': 3.12, 'deg': 170, 'gust': 7.17},
  'clouds': {'all': 100},
  'dt': 1765190709,
  'sys': {'type': 2,
   'id': 2094500,
   'country': 'RU',
   'sunrise': 1765172724,
   'sunset': 1765198665},
  'timezone': 10800,
  'id': 524901,
  'name': 'Moscow',
  'cod': 200})

In [27]:
data = pd.read_csv("temperature_data.csv")

In [29]:
data.shape

(82125, 4)

In [31]:
data.describe()

        temperature
count  82125.000000
mean      18.288333
std       11.003347
min      -23.913013
25%       11.210756
50%       18.770299
75%       26.050906
max       58.404158

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82125 entries, 0 to 82124
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         82125 non-null  object
 1   timestamp    82125 non-null  object
 2   temperature  82125 non-null  float64
 3   season       82125 non-null  object
dtypes: float64(1), object(3)
memory usage: 2.5+ MB

In [34]:
import openmeteo_requests

import pandas as pd
import requests_cache
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 55.45,
	"longitude": 37.37,
	"start_date": "2025-01-01",
	"end_date": "2025-12-06",
	"hourly": "temperature_2m",
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates: {response.Latitude()}°N {response.Longitude()}°E")
print(f"Elevation: {response.Elevation()} m asl")
print(f"Timezone difference to GMT+0: {response.UtcOffsetSeconds()}s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end =  pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}

hourly_data["temperature_2m"] = hourly_temperature_2m

hourly_dataframe = pd.DataFrame(data = hourly_data)
print("\nHourly data\n", hourly_dataframe)

Coordinates: 55.430580139160156°N 37.379032135009766°E
Elevation: 183.0 m asl
Timezone difference to GMT+0: 0s

Hourly data
                           date  temperature_2m
0    2025-01-01 00:00:00+00:00          -2.778
1    2025-01-01 01:00:00+00:00          -4.078
2    2025-01-01 02:00:00+00:00          -4.578
3    2025-01-01 03:00:00+00:00          -5.178
4    2025-01-01 04:00:00+00:00          -5.728
...                        ...             ...
8155 2025-12-06 19:00:00+00:00           2.222
8156 2025-12-06 20:00:00+00:00           1.822
8157 2025-12-06 21:00:00+00:00           1.422
8158 2025-12-06 22:00:00+00:00           1.172
8159 2025-12-06 23:00:00+00:00           1.072

[8160 rows x 2 columns]